/* styles.css */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header, nav, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses-home, .courses-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses-home .course, .courses-buttons button {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.courses-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}

/* Tela de Login */
.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

.login-form input, .login-form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 1em 0;
    background-color: #2a2525;
    color: white;
}

.carousel {
    height: 300px; 
}

.carousel-item {
    height: 100%; 
}

.carousel-item img {
    height: 100%;
    object-fit: cover; 
}